name: Autotools Builds

on: [push, pull_request]

jobs:
  serial:
    name: Serial Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: configure
      run: autoreconf -i && CC=gcc CXX=g++ MPICC=gcc MPICXX=g++ ./configure --enable-serial
    - name: make
      run: make
    - name: make check
      run: make check

  mpich:
    name: MPICH Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: dependencies
      run: .github/workflows/dependencies/dependencies_mpich.sh
    - name: configure
      run: autoreconf -i && ./configure
    - name: make
      run: make
    - name: make check
      run: make check

  openmpi:
    name: OpenMPI Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: dependencies
      run: .github/workflows/dependencies/dependencies_openmpi.sh
    - name: configure
      run: autoreconf -i && ./configure
    - name: make
      run: make
    - name: make check
      run: make check

  petsc:
    name: OpenMPI + PETSc
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: dependencies
      run: source .github/workflows/dependencies/dependencies_openmpi_petsc.sh
    - name: configure
      run: autoreconf -i && PETSC_DIR=/home/runner/work/hypar/petsc PETSC_ARCH=arch-linux-gcc ./configure
    - name: make
      run: make
    - name: make check
      run: make check

  fftw:
    name: OpenMPI + FFTW
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: dependencies
      run: source .github/workflows/dependencies/dependencies_openmpi_fftw.sh
    - name: configure
      run: autoreconf -i && ./configure --enable-fftw --with-fftw-dir=/home/runner/work/hypar/fftw-3.3.10
    - name: make
      run: make
    - name: make check
      run: make check

  cuda:
    name: MPICH + CUDA
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: dependencies
      run: source .github/workflows/dependencies/dependencies_nvcc11.sh
    - name: configure
      run: autoreconf -i && CUDA_CFLAGS="-I/usr/include/x86_64-linux-gnu/mpich/" ./configure --enable-cuda --with-cuda-dir=/usr/local/cuda
    - name: make
      run: make
    - name: make check
      run: make check
