name: Build - Linux GCC + OpenMPI w/ PETSc

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: dependencies
      run: source .github/workflows/dependencies/dependencies_openmpi_petsc.sh
    - name: configure
      run: autoreconf -i && echo $PWD && PETSC_DIR=/home/runner/work/hypar/petsc PETSC_ARCH=arch-linux-gcc ./configure
    - name: make
      run: make
    - name: make check
      run: make check
