name: CMake Build - Linux GCC + OpenMPI w/ FFTW

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends \
          build-essential \
          cmake \
          g++ gfortran openmpi-bin libopenmpi-dev \
          wget
    
    - name: Build FFTW
      run: |
        cd ../
        wget https://www.fftw.org/fftw-3.3.10.tar.gz
        tar xzf fftw-3.3.10.tar.gz
        rm -rf fftw-3.3.10.tar.gz
        cd fftw-3.3.10
        CC=mpicc MPICC=mpicc ./configure --enable-mpi --disable-fortran --prefix=$PWD
        make -j4
        make install
    
    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake -DENABLE_FFTW=ON -DCMAKE_BUILD_TYPE=Release ..
      env:
        PKG_CONFIG_PATH: /home/runner/work/hypar/fftw-3.3.10/lib/pkgconfig
    
    - name: Build
      run: cmake --build build -j$(nproc)
    
    - name: Verify executable
      run: |
        test -f build/src/HyPar
        echo "HyPar with FFTW built successfully"
