name: CMake Build - Linux GCC + OpenMPI w/ OpenMP

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends \
          build-essential \
          cmake \
          g++ gfortran openmpi-bin libopenmpi-dev

    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake -DENABLE_OMP=ON -DCMAKE_BUILD_TYPE=Release ..

    - name: Build
      run: cmake --build build -j$(nproc)

    - name: Verify executable
      run: |
        test -f build/src/HyPar
        echo "HyPar with OpenMP built successfully"
